

    <!-- Customers -->
    <div class="slider-1">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h5>Trusted By</h5>

                  <!-- Image Slider -->
                  <div class="slider-container">
                      <div class="swiper-container image-slider">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <div class="image-container">
                                      <img class="img-responsive" src="assets/images/customer-logo-1.png" alt="alternative">
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="image-container">
                                      <img class="img-responsive" src="assets/images/customer-logo-2.png" alt="alternative">
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="image-container">
                                      <img class="img-responsive" src="assets/images/customer-logo-3.png" alt="alternative">
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="image-container">
                                      <img class="img-responsive" src="assets/images/customer-logo-4.png" alt="alternative">
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="image-container">
                                      <img class="img-responsive" src="assets/images/customer-logo-5.png" alt="alternative">
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="image-container">
                                      <img class="img-responsive" src="assets/images/customer-logo-6.png" alt="alternative">
                                  </div>
                              </div>
                          </div> <!-- end of swiper-wrapper -->
                      </div> <!-- end of swiper container -->
                  </div> <!-- end of slider-container -->
                  <!-- end of image slider -->

              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of slider-1 -->
  <!-- end of customers -->


  <!-- Services -->
  <div id="services" class="cards-1">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h2>Our Services</h2>
                  <p class="p-heading p-large">We serve the population in providing top notch services to everyone wherever they are in the tri-state area.</p>
              </div> <!-- end of col -->
          </div> <!-- end of row -->
          <div class="row">
              <div class="col-lg-12">

                  <!-- Card -->
                  <div class="card">
                      <img class="card-image" src="assets/images/services-icon-1.svg" alt="alternative">
                      <div class="card-body">
                          <h4 class="card-title">One on One</h4>
                          <p>Our team of enthusiastic doctors are always readily available to have one on one's with patients to get closer looks at problems</p>
                      </div>
                  </div>
                  <!-- end of card -->

                  <!-- Card -->
                  <div class="card">
                      <img class="card-image" src="assets/images/services-icon-2.svg" alt="alternative">
                      <div class="card-body">
                          <h4 class="card-title">Drugs</h4>
                          <p>Once our patients make a request, we can readily get to their location and deliver the requested drugs from a proven prescription.</p>
                      </div>
                  </div>
                  <!-- end of card -->

                  <!-- Card -->
                  <div class="card">
                      <img class="card-image" src="assets/images/services-icon-3.svg" alt="alternative">
                      <div class="card-body">
                          <h4 class="card-title">Admissions</h4>
                          <p>After consultations by our experts, we reserve the role of admissions and can provide home nurses as the case may be.We ensure you get the best help</p>
                      </div>
                  </div>
                  <!-- end of card -->

              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of cards-1 -->
  <!-- end of services -->
