<!-- About -->
<div id="team" class="basic-4">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2>About The Team</h2>
              <p class="p-heading p-large">Meat our team of specialized doctors changing the game</p>
          </div> <!-- end of col -->
      </div> <!-- end of row -->
      <div class="row">
          <div class="col-lg-12">

              <!-- Team Member -->
              <div class="team-member">
                  <div class="image-wrapper">
                      <img class="img-fluid" src="assets/images/team-member-1.svg" alt="alternative">
                  </div> <!-- end of image-wrapper -->
                  <p class="p-large"><strong>Dr Lacy Whitelong,PhD</strong></p>
                  <p class="job-title">Radiologist</p>
                  <span class="social-icons">
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x facebook"></i>
                              <i class="fab fa-facebook-f fa-stack-1x"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x twitter"></i>
                              <i class="fab fa-twitter fa-stack-1x"></i>
                          </a>
                      </span>
                  </span> <!-- end of social-icons -->
              </div> <!-- end of team-member -->
              <!-- end of team member -->

              <!-- Team Member -->
              <div class="team-member">
                  <div class="image-wrapper">
                      <img class="img-fluid" src="assets/images/team-member-2.svg" alt="alternative">
                  </div> <!-- end of image wrapper -->
                  <p class="p-large"><strong>Dr Chris Laker</strong></p>
                  <p class="job-title">Dentist</p>
                  <span class="social-icons">
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x facebook"></i>
                              <i class="fab fa-facebook-f fa-stack-1x"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x twitter"></i>
                              <i class="fab fa-twitter fa-stack-1x"></i>
                          </a>
                      </span>
                  </span> <!-- end of social-icons -->
              </div> <!-- end of team-member -->
              <!-- end of team member -->

              <!-- Team Member -->
              <div class="team-member">
                  <div class="image-wrapper">
                      <img class="img-fluid" src="assets/images/team-member-3.svg" alt="alternative">
                  </div> <!-- end of image wrapper -->
                  <p class="p-large"><strong>Dr Sheila Zimerman</strong></p>
                  <p class="job-title">M.D</p>
                  <span class="social-icons">
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x facebook"></i>
                              <i class="fab fa-facebook-f fa-stack-1x"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x twitter"></i>
                              <i class="fab fa-twitter fa-stack-1x"></i>
                          </a>
                      </span>
                  </span> <!-- end of social-icons -->
              </div> <!-- end of team-member -->
              <!-- end of team member -->

              <!-- Team Member -->
              <div class="team-member">
                  <div class="image-wrapper">
                      <img class="img-fluid" src="assets/images/team-member-4.svg" alt="alternative">
                  </div> <!-- end of image wrapper -->
                  <p class="p-large"><strong>Dr Mary Villalonga</strong></p>
                  <p class="job-title">Opthamologist</p>
                  <span class="social-icons">
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x facebook"></i>
                              <i class="fab fa-facebook-f fa-stack-1x"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="#your-link">
                              <i class="fas fa-circle fa-stack-2x twitter"></i>
                              <i class="fab fa-twitter fa-stack-1x"></i>
                          </a>
                      </span>
                  </span> <!-- end of social-icons -->
              </div> <!-- end of team-member -->
              <!-- end of team member -->

          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of about -->
