<!-- Add/update request modal -->
<ng-template #addUpdateRequestModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ modalTitle }}</span>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form" [formGroup]="requestForm" (ngSubmit)="onSubmitRequest()">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!--NAME-->

          <div class="row form-group" *ngIf="action == 'update'">
            <label class="col-sm-4 control-label">
              <span>{{ "Names" | translate }}</span
              >&nbsp;<span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="{{ 'Enter name' | translate }}"
              />
            </div>
          </div>

          <!--PHONE-->

          <div class="row form-group" *ngIf="action == 'update'">
            <label class="col-sm-4 control-label">
              <span>{{ "Phone" | translate }}</span
              >&nbsp;<span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                placeholder="{{ 'Enter phone' | translate }}"
              />
            </div>
          </div>

          <!--EMAIL-->

          <div class="row form-group" *ngIf="action == 'update'">
            <label class="col-sm-4 control-label">
              <span>{{ "Email" | translate }}</span
              >&nbsp;<span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="{{ 'Enter email' | translate }}"
              />
            </div>
          </div>

          <!--SECTION-->

          <div class="row form-group" *ngIf="action == 'update'">
            <label class="col-sm-4 control-label">
              <span>{{ "Section" | translate }}</span
              >&nbsp;<span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="section"
                placeholder="{{ 'Enter section' | translate }}"
              />
            </div>
          </div>

          <!--REASON-->

          <div class="row form-group" *ngIf="action == 'update'">
            <label class="col-sm-4 control-label">
              <span>{{ "Reason" | translate }}</span
              >&nbsp;<span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="reason"
                placeholder="{{ 'Enter reason' | translate }}"
              />
            </div>
          </div>
          <!--TIME-->

          <div class="row form-group" *ngIf="action == 'update'">
            <label class="col-sm-4 control-label">
              <span>{{ "Time" | translate }}</span
              >&nbsp;<span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="time"
                placeholder="{{ 'Enter time' | translate }}"
              />
            </div>
          </div>
          <!--REQUEST COMMENT-->
          <div class="row form-group" *ngIf="action == 'update'">
            <label class="col-sm-4 control-label">
              <span>{{ "Comment" | translate }}</span
              >&nbsp;<span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="requestcomment"
                placeholder="{{ 'Enter comment' | translate }}"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- <input type="text" class="hidden" formControlName="id"> -->
      <button type="submit" class="hidden" #addRequestSubmitBtn></button>
    </form>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="action == 'update'"
      type="button"
      class="btn btn-sm btn-success"
      (click)="restoreRequestForm()"
    >
      <i class="fa fa-undo"></i>&nbsp;
      <span>{{ "Restore" | translate }}</span>
    </button>
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="d('Cancel button')"
    >
      <i class="fa fa-remove"></i>&nbsp;{{ "Cancel" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-sm btn-primary"
      [disabled]="!requestFormIsValid()"
      (click)="addRequestSubmitBtn.click()"
    >
      <i class="fa fa-save"></i>&nbsp;
      <span>{{ "Save" | translate }}</span>
    </button>
  </div>
</ng-template>

<!-- delete city modal -->
<ng-template #deleteRequestModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ modalTitle }}</span>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span class="warning-message"
      >{{ "Do you really want to delete this request?" | translate }}
    </span>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="d('Cancel button')"
    >
      <i class="fa fa-remove"></i>&nbsp;{{ "Cancel" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-sm btn-danger"
      (click)="deleteRequest()"
    >
      <i class="fa fa-check"></i>&nbsp;
      <span>{{ "Proceed" | translate | lowercase }}</span>
    </button>
  </div>
</ng-template>

<!-- delete city modal -->
<ng-template #requestDetailsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ modalTitle }}</span>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">Names</div>
      <div class="col-md-8">
        {{ request.name ? request.name : "-" }}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">Email</div>
      <div class="col-md-8">
        {{ request.email ? request.email : "-" }}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">Reason</div>
      <div class="col-md-8">
        {{ request.reason ? request.reason : "-" }}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">Phone</div>
      <div class="col-md-8">
        {{ request.phone ? request.phone : "-" }}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">Section</div>
      <div class="col-md-8">
        {{ request.section ? request.section : "-" }}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">Comment</div>
      <div class="col-md-8">
        {{ request.requestcomment ? request.requestcomment : "-" }}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">Time</div>
      <div class="col-md-8">
        {{ request.time ? request.time : "-" }}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">Status</div>
      <div class="col-md-8">
        <span *ngIf="request.status"> <i class="fa fa-check green"></i></span>
        <span *ngIf="!request.status"> <i class="fa fa-ban red"></i></span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="d('Cancel button')"
    >
      <i class="fa fa-remove"></i>&nbsp;{{ "Cancel" | translate }}
    </button>
  </div>
</ng-template>

<ngx-loading
  [show]="loadingData"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
></ngx-loading>
