<!-- Request -->
<div id="request" class="form-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <h2>Request an appointment</h2>
          <p>
            E-Hospital is always available for you. Request what you need and we
            will get to you soon.
          </p>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">
                <strong class="blue">Get Consulted </strong> by professional
                doctors
              </div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">
                <strong class="blue">Secure medical history</strong>at a
                personal level
              </div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">
                <strong class="blue">Drugs you need</strong>can be delivered to
                your home
              </div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">
                <strong class="blue">Save precious time</strong> and let us to
                the work for you
              </div>
            </li>
          </ul>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-6">
        <!-- Request Form -->
        <div class="form-container">
          <form
            id="requestForm"
            data-toggle="validator"
            [formGroup]="requestForm"
            (ngSubmit)="onSubmitRequest()"
            data-focus="false"
          >
            <div class="form-group">
              <input
                type="text"
                class="form-control-input"
                formControlName="name"
                id="rname"
                name="rname"
                required
              />
              <label class="label-control" for="rname">Full name</label>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control-input"
                formControlName="email"
                id="remail"
                name="remail"
                required
              />
              <label class="label-control" for="remail">Email</label>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control-input"
                formControlName="phone"
                id="rphone"
                name="rphone"
                required
              />
              <label class="label-control" for="rphone">Phone</label>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control-input"
                formControlName="reason"
                id="rreason"
                name="rreason"
                required
              />
              <label class="label-control" for="rreason">Reason</label>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <select
                class="form-control-select"
                formControlName="section"
                id="rselect"
                required
              >
                <option class="select-option" value="" disabled selected>
                  Interested in...
                </option>
                <option class="select-option" value="consultation">
                  Consultation
                </option>
                <option class="select-option" value="drugs">Drugs</option>
                <option class="select-option" value="admission">
                  Admission
                </option>
              </select>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <select
                class="form-control-select"
                id="rselect"
                formControlName="user"
                required
              >
                <option class="select-option" value="" disabled selected>
                  Medical Practitioner
                </option>
                <option *ngFor="let user of users" [value]="user.id">
                  {{ user.role ? user.role.toUpperCase() : ("" | titlecase) }}
                  {{ user.firstname ? user.firstname : ("" | titlecase) }}
                  {{ user.lastname ? user.lastname : ("" | titlecase) }}
                  ( {{ user?.email | titlecase }})
                </option>
              </select>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group checkbox">
              <span *ngIf="success" class="green"
                >Request sent successfully</span
              >
            </div>
            <div class="form-group">
              <button type="submit" class="form-control-submit-button">
                REQUEST
              </button>
            </div>
            <div class="form-message">
              <div id="rmsgSubmit" class="h3 text-center hidden"></div>
            </div>
          </form>
        </div>
        <!-- end of form-container -->
        <!-- end of request form -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of form-1 -->
<!-- end of request -->
